

body{

    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
     }

.big {
    max-width: 1500px;
    margin: 0 auto;
}

.header{
    padding: 0 45px;
    background: #EF6C00;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title:hover{
    transition: all 4s ease-in-out;
    
    transform:rotateX(-720deg)rotateY(20deg);
    transition-delay:1s
}


.nav a{
    text-decoration: none;
    padding-left: 45px;
    color: #fff;
display: block;
}
.nav a:hover{
    color: #F9CEB4;
   transform: rotate(5deg);
   transition: all 0.4s ease-in-out;
}
.nav{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.about {
    background:#FFB74D ;
    padding:60px 45px;
    display: flex;
    justify-content: center;
}
.about-inner { 
    max-width: 700px;}

.about h1{
    font-weight: normal;
    margin: 0;
    font-size: 3.5rem;
    line-height: 6rem;
}
.about p{
font-size: 1.6rem;
line-height: 2rem;

}
.nav2{
    list-style: none;
    line-height: 1.6rem;
    padding:20px 20px
    }
    .nav2 a{
        text-decoration: none;
        padding-left: 45px;
        color:black;
        margin-bottom: 6rem;
        font-size: 1.18rem;
     } 
     .space{
        margin: 4rem 0;
        font-size: 1.6rem;
line-height: 2rem;

     }
     .nav2 a:hover{
        color: #333;
       transform: rotatex(30deg);
       transition: all .2s ease-out;
    }

    .button{
        background:#E65100;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items:center;
        display: inline-block;
        padding:  12px 20px;
        border-radius: .6rem;
        font-size: 1.34;
    }

.cats-info{
    background:#FFCC80 ;
    padding: 60px 45px;

    
   
}
.cats-inner{
    max-width :1200p; 
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,min(300px,1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.cats {
    max-width: 1500px;
    margin: 0 auto;
}

.cats h2{
    font-weight: 700;
    color:#000;
    background-color:#E65100 ;
    display: flex;
    align-items:center;
    display: inline-block;
    padding:  20px 20px;
    margin-top: 100pxx;
    border-radius: .4rem;
    font-size:3rem;
 }

    
    .button:hover{
        font-size: 1.5;
        color: #000;
        transition: all .5s ease-in-out;
        margin:x;
    }

      .big h2{ 
        font-weight: 900;
        background-color: ;
        color: #000;
        display: flex;
        align-items:center;
        display: inline-block;
        padding: 15 0;
        border-radius:.4rem;
        font-size:4.5rem;
        letter-spacing: ;0.04rem;
     }
     .cats p{
        line-height: 1.9rem;
        letter-spacing: 0.001rem;
        color: #000;
        font-weight: 500;
        padding: 10px 0 50px 0;
        font-size: 1.4rem;
     }
     .cats-info p:hover{
        color: #2b2a2a;
        transition: all 1s ease-in;
     }
     .cats h3{
        font-size: 2rem;
        font-weight: 600;
     }
      .photos{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        padding: 150px 0;

      }
      .photos img{
        width: 100%;
      }
      .button1{  background:#E65100;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items:center;
        display: inline-block;
        padding:  12px 20px;
    
        border-radius: .6rem;
        font-size: 1.5rem;
    }

      
      .photo{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        padding: 1px 0;
        }

        .footer{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #9d8b8b;
            padding: 35px 0 35px
            0;
            background: #fff;
        }
        .button1-previous{  background:#E65100;
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items:center;
            display: inline-block;
            padding:  12px 20px;
            border-radius: .6rem;
            font-size: 1.5rem;
        }
        .buttons{
             display: grid;
    grid-template-columns: repeat(3,1fr);
grid-column-gap: 50px; 
grid-row-gap: ;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

       